.cv-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Center horizontally */
  align-content: center; /* Center the wrapped rows vertically */
  gap: 0%;
  min-height: 100vh; /* Ensure it takes the full height of the viewport */
  margin: -0.25% 10; /* Adjust the negative margin to compensate for the gaps */

  
}

.cv-box {
  width: 30%; /* Adjust the width to distribute boxes in a three-by-three grid */
  height: 30vh; /* Adjust the height to increase the box size */
  background-color: white;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Add transition for background color and text color */
  position: relative; /* Add relative positioning to contain the absolutely positioned elements */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
  text-align: center; /* Center text horizontally */
  
}

.cv-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(0.95); /* Shrink the box */
  background-color: #4285F4; /* Change background color to blue */
  color: white; /* Change text color to white */
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Ensure content is centered vertically within the box */
  height: 100%;
  width: 100%;
}

.box-image {
  width: 80%; /* Fixed width to ensure consistency */
  height: 80%; /* Fixed height to ensure consistency */
  object-fit: contain; /* Ensure the image scales uniformly and is contained within the box */
  filter: blur(2px); /* Slightly blur the image */
  z-index: 1; 
}

.box-title {
  position: absolute; /* Absolutely position the title */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  text-align: center;
  font-weight: bold;
  font-size: 150%; /* Default font size */
  color: inherit; /* Ensure text color inherits from parent */
  transition: color 0.3s ease; /* Add transition for text color */
  z-index: 2; 
  color: #F4B142;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 768px) {
  .cv-box {
    width: 45%; /* Adjust the width for smaller screens */
    height: 20vh; /* Adjust the height for smaller screens */
  }

  .box-title {
    font-size: 120%; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .cv-box {
    width: 90%; /* Adjust the width for even smaller screens */
    height: 15vh; /* Adjust the height for even smaller screens */
  }

  .box-title {
    font-size: 100%; /* Adjust font size for even smaller screens */
  }
}
