.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center items vertically */
  padding: 20px;
  height: 100vh; /* Full height of the viewport */
  background-color: #f9f9f9;
}

.education-header {
  font-weight: bold;
  font-size: 2em; /* Adjust the size as needed */
  margin-bottom: 20px; /* Add some spacing below the header */
}

.education-item {
  display: flex;
  align-items: center; /* Center items vertically */
  margin: 20px 0;
  width: 80%; /* Adjust width as needed */
  background-color: #fff; /* Background color for the container */
  padding: 20px; /* Padding around the container */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for the container */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition effects */
}


.education-seal {
  max-width: 150px; /* Adjust the size as needed */
  margin-right: 20px; /* Space between the seal and the text */
}

.text-content {
  padding: 15px; /* Add padding around text */
}

.education-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px; /* Space below the title */
}

p {
  margin: 5px 0; /* Adjust margins for paragraph spacing */
  line-height: 1.6; /* Better line spacing for readability */
}
