.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.centered-image {
  max-width: calc(98vw - 10%);
  width: calc(98vw - 10%);
  max-height: 60%;
  object-fit: cover;
  filter: blur(3px);
  z-index: 0;
}

.sub-text {
  font-size: 18px;
  color: black;
  margin-bottom: 2%;
}

.button-below-image {
  margin-top: 2%;
  border-radius: 50px;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  font-weight: bold;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
  font-size: 15px;
  width: 13%;
  text-decoration: none; /* Remove underline */
}

.button-below-image:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.1);
}

.button-below-image:active {
  background-color: #888888;
}

.home-text {
  font-size: 48px;
  font-weight: bold;
  color: black;
  margin-bottom: 1%;
  margin-top: -5%;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-text,
.sub-text,
.button-below-image {
  opacity: 0;
}
