nav {
  display: flex;
  justify-content: center; /* Center the menu bar */
  align-items: center; /* Vertically center the items */
  background: #171717;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.2); /* Updated box shadow */
  width: 100vw; /* Make it as wide as the screen */
  z-index: 9999;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
}

#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0; /* Remove bottom margin */
  list-style: none;
  width: 100%; /* Ensure the menu takes full width of nav */
  justify-content: center; /* Center the menu items */
}

#menu li {
  list-style: none;
  margin-right: 20px; /* Adjust spacing between items */
  position: relative; /* Ensure dropdowns position correctly */
}

#menu li:last-child {
  margin-right: 0; /* Remove margin from last item */
}

#menu li a {
  text-decoration: none;
  font-weight: normal;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

#menu li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#menu li a.active {
  background-color: rgba(255, 255, 255, 0.1); /* Add a background color to the active link */
  border-bottom: 4px solid #F4B142; /* Add a bottom border to highlight the active link */
  padding-bottom: 6px; /* Adjust padding to account for the border */
}

body {
  margin: 0;
  padding: 0;
}

#menu li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(1);
}

#menu li a:hover img,
#menu li a.active img {
  filter: invert(80%) brightness(1.2) saturate(80%) sepia(100%) hue-rotate(180deg); /* Apply filter to make the image blue and keep it inverted */
}

#menu .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Position below the menu item */
  left: 50%; /* Center the dropdown */
  transform: translateX(-50%); /* Correct the position to truly center */
  background: #171717;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 9999;
  width: 100%; /* Ensure dropdown takes the full width */
  min-width: 200px; /* Minimum width for the dropdown */
}

#menu .dropdown-menu li {
  width: 100%; /* Ensure list items take full width */
  margin-bottom: 0;
}

#menu .dropdown-menu li a {
  width: 100%; /* Ensure links take full width */
  display: block; /* Make links block level */
  padding: 10px; /* Padding for dropdown items */

}

#menu li:hover .dropdown-menu {
  display: block;
}
