.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Ensure it takes the full height of the viewport */
  overflow: auto;
  background-color: #f9f9f9;
  padding: 20px;
}

.pubs-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 1%;
  width: 100%;
}

.year-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.year {
  font-size: 2em;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
}

.publication-details {
  margin-left: 20px;
  margin-bottom: 20px;
}

.publication-details p {
  margin: 5px 0;
}

.button-below {
  margin-top: 2%;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
  font-size: 15px;
  text-decoration: none; /* Remove underline */
  background-color: #F4B142;
}

.button-below:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.1);
}

.button-below:active {
  background-color: #888888;
}

award-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.award-images {
  display: flex;
  justify-content: space-around;
}

.award-image {
  width: 13vw; /* Adjust as necessary */
  height: 20vh; /* Adjust as necessary */
  margin-bottom: 5px; /* Space between image and dropdown */
}

.dropdown-content {
  width: 80%; /* Adjust width as needed */
  text-align: center;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  margin-top: 5px; /* Ensures space between image and dropdown */
}