.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Ensure it takes the full height of the viewport */
  overflow: auto;
  background-color: white;
  padding: 20px;
}

.pubs-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 1%;
  width: 100%;
}

.year-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.year {
  font-size: 2em;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
}

.publication-details {
  margin-left: 20px;
  margin-bottom: 20px;
}

.publication-details p {
  margin: 5px 0;
}

.button-below {
  margin-top: 2%;
  border-radius: 50px;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  font-weight: bold;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
  font-size: 15px;
  text-decoration: none; /* Remove underline */
}

.button-below:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.1);
}

.button-below:active {
  background-color: #888888;
}
