.research-box {
  width: auto;
  height: 250px;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  margin: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.research-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.research-image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  aspect-ratio: 1/1; /* Set a fixed aspect ratio (1:1) for the image */
  object-fit: contain; /* Ensure the image fits within the container */
}

.words {
  flex: 1;
  text-align: left;
  margin-left: 20px;
  margin-top: -13%;
  font-weight: bold;
  font-size: 150%;
  border-bottom: 1px solid black;
}
